<div>
  <form>
    <input
      type="text"
      id="message"
      name="message"
      placeholder="type here..."
      [(ngModel)]="message"
    />
    <input type="submit" value="add" (click)="addItem()" />
  </form>
</div>
<div>
  <h3>To Do List ({{ toDoList.length }}) items</h3>
  <div *ngFor="let item of toDoList; let i = index">
    <span class="close" (click)="remove(i)">x</span>
    <span class="message">{{ item.message }}</span>
    <span class="time">{{ item.time | date: "HH:mm:ss" }}</span>
  </div>
</div>
